/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width: 100%;
    height: 100%;
} */
.register {
    width: 350px;
    margin: 20px auto;
}
@media only screen and (max-width: 425px) {
    .register {
        width: 75% ;
        font-size: 15px;
        margin: 15px auto;
    }
}